{:placard/artists ["John Smith"]
 :placard/description "Lorem ipsum..."
 :placard/id #uuid "019ed15d-c5c4-7afd-8830-045bea05d108"
 :placard/materials "Materials"
 :placard/shortcode "hGF2"
 :placard/title "muran"
 :placard/year "2026"}