{:placard/artists ["John Lemme" "Rafal Dittwald" "Canna Wen"]
 :placard/description "Lorem ipsum"
 :placard/id #uuid "b2c2851b-3af7-4f5e-a3f4-246a3ced6550"
 :placard/materials "PLA, paint, plastic sphere scavenged from H&M's garbage"
 :placard/shortcode "octo"
 :placard/title "Octopiggy Bank"
 :placard/year "2026"}